body{
  background-color: aqua;
  display: flex;
  justify-content: center;
}
.main{
   background-color: lightgreen;
   border: 20px;
   padding: 50px;
   border-radius: 20px;
}
.co{
   border: 20px;
   padding: 12px;
   color: cadetblue;
}
button{
  font-size: large;
    margin: 10px;
    color: green;
    background-color:beige;
}
span{
  color: darkcyan;
}
button:hover{
  background-color:azure;
  transform: matrix3d(2);
}